@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>


<select id="selectCity"></select>
<select id="selectDistrict"></select>
<select id="selectRoad"></select>
<div id="div1" class="alert alert-info"> </div>


@section Styles{
    <style></style>
}

@*作業六 改用fetch() 加上 async await 來完成住址連動的功能*@

@section Scripts{
    <script>
        const selCity = document.querySelector('#selectCity');
        const selDistrict = document.querySelector('#selectDistrict');
        const selRoad = document.querySelector('#selectRoad');
        const theDiv = document.querySelector('#div1');

        function loadCity() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '@Url.Content("/api/cities")');
            xhr.send();
            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);
                const cities = datas.map(city => `<option value='${city}'>${city}</option>`)
                selCity.innerHTML = cities.join("");
                loadDistrict()

            })
        }

        function loadDistrict() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `@Url.Content("/api/districts")?city=${selCity.value}`);
            xhr.send();
            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);
                const districts = datas.map(district => `<option value='${district}'>${district}</option>`)
                selDistrict.innerHTML = districts.join("");
                loadRoad()

            })
        }

        function loadRoad() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `@Url.Content("/api/roads")?siteId=${selDistrict.value}`);
            xhr.send();
            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);
                const roads = datas.map(road => `<option value='${road}'>${road}</option>`)
                selRoad.innerHTML = roads.join("");
                show();
            })
        }

        loadCity()

        //selCity.addEventListener('change',()=>{
        //  //  theDiv.textContent = `${selCity.options[selCity.selectedIndex].text}-${selCity.options[selCity.selectedIndex].value} `
        //  theDiv.textContent = selCity.value;
        //    loadDistrict();
        //})

        //selDistrict.addEventListener('change', () => {
        //    //  theDiv.textContent = `${selCity.options[selCity.selectedIndex].text}-${selCity.options[selCity.selectedIndex].value} `
        //    theDiv.textContent += selDistrict.value;
        //loadRoad();
        //})

        selCity.addEventListener('change', () => {
            //  theDiv.textContent = `${selCity.options[selCity.selectedIndex].text}-${selCity.options[selCity.selectedIndex].value} `
            loadDistrict();
        })

        selDistrict.addEventListener('change', () => {
            //  theDiv.textContent = `${selCity.options[selCity.selectedIndex].text}-${selCity.options[selCity.selectedIndex].value} `
            loadRoad();

        })
        selRoad.addEventListener('change', show)

        function show() {
            theDiv.textContent = `${selDistrict.value} ${selRoad.value}`;
        }



    </script>
    }